{%- extends "base.html" -%}
{% block title %}Bike List{% endblock %}

{% block content %}
  <a href="{{ url_for('add_bike') }}" class="btn btn-secondary">Add Bike</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Weight (lbs)</th>
        <th>Type</th>
        <th>Gearing</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for bike in bikes -%}
      <tr>
        <td>{{ bike.name }}</td>
        <td>{{ bike.color }}</td>
        <td>{{ bike.weight | round(4) }}</td>
        <td>{{ bike.type_.value }}</td>
        <td>{{ bike.gearing.value }}</td>
        <td>${{ bike.price / 100 | round(2) }}</td>
        <td><a href="{{ url_for('delete_bike', id_=bike.id_) }}" class="btn btn-danger">Delete</a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}
